// Font families

@font-face {
    font-family: lFont;
    src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: liFont;
    src: url(./assets/fonts/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: rFont;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: riFont;
    src: url(./assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: mFont;
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: miFont;
    src: url(./assets/fonts/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: bFont;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: biFont;
    src: url(./assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: tiFont;
    src: url(./assets/fonts/Poppins-ThinItalic.ttf);
}