@import "src/assets/scss/variables.scss";

.home-page {
    min-height: 100vh;

    // Slider styles start
    .slide-container {
        .react-slideshow-container {
            height: 300px;
            .nav {
                background: rgba(255, 255, 255, 0);
                span {
                    border-width: 1px;
                    width: 12px;
                    height: 12px;
                    border-color: #ffffff;
                    transition: 0.3s;
                    transform: rotate(45deg) scale(1);
                }

                &:hover {
                    span {
                        transform: rotate(45deg) scale(1.5);
                    }
                }
            }
        }

        .react-slideshow-container + div.indicators > div {
            background: #ffffff;
            width: 12px;
            height: 12px;
            border: 2px solid #1e1e1e;
        }

        .react-slideshow-container + div.indicators > div.active {
            background: #0387da;
            width: 12px;
            height: 12px;
            border: 2px solid #0387da;
        }

        .react-slideshow-wrapper {
            height: 300px;
            .images-wrap {
                height: 300px;
                .slide-image-container {
                    position: relative;
                    height: 300px;
                    background-position: center;
                    .title-container {
                        position: absolute;
                        bottom: 12px;
                        left: 12px;
                        line-height: 1.25;
                        .slidet-title1 {
                            color: white;
                            font-size: 16px;
                            font-family: rFont;
                        }

                        .slidet-title2 {
                            color: white;
                            font-size: 24px;
                            font-family: mFont;
                        }

                        .slidet-title3 {
                            color: #0387da;
                            font-size: 20px;
                            font-family: bFont;
                        }
                    }
                }
            }
        }
    }
    // Slider styles end

    // Director board messages style start
    .db-messages {
        margin: 12px 0;
        display: inline-block;
        width: 100%;
        .db-message-content {
            width: calc(50% - 12px);
            background: #2e2e2e;
            display: inline-block;
            margin-bottom: 12px;

            @include mq("phablet", max) {
                width: 100%;
            }

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }

            .text-content {
                width: calc(100% - 120px - 12px);
                padding: 12px;
                float: left;
                @include mq("desktop", max) {
                    width: calc(100% - 90px - 12px);
                }
                .title {
                    font-family: mFont;
                    color: #ffffff;
                    font-size: 22px;
                    @include mq("desktop", max) {
                        font-size: 16px;
                    }
                }
            }
            .image-content {
                float: left;
                width: 120px;
                height: 90px;
                overflow: hidden;

                @include mq("desktop", max) {
                    width: 90px;
                    height: 72px;
                }

                img {
                    width: 120px;
                    height: 90px;
                    @include mq("desktop", max) {
                        width: 90px;
                        height: 72px;
                    }
                }
            }
        }
    }
    // Director board messages style end

    // Highlights style start
    .highlights {
        .hl-title {
            margin: 12px 0;
            border-bottom: 1px solid #444444;
            span {
                font-size: 20px;
                font-family: mFont;
                color: white;
                border-bottom: 3px solid #0074BC;
            }
        }

        .scrolling-wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }

            .hl-card {
                width: 200px;
                display: inline-block;
            }
        }

        .menu-item {
            padding: 0 40px;
            margin: 5px 10px;
            user-select: none;
            cursor: pointer;
            border: none;
        }
        .menu-item-wrapper.active {
            border: 1px blue solid;
        }
        .menu-item.active {
            border: 1px green solid;
        }

        .scroll-menu-arrow {
            padding: 20px;
            cursor: pointer;
        }
    }

    // Highlights style end
}
