@import "src/assets/scss/variables.scss";

.mn-header {
    position: fixed;
    background: #1e1e1e;
    width: 100%;
    height: 72px;
    padding: 8px 16px;
    top: 0;
    left: 0;
    font-family: rFont;
    font-size: 16px;
    color: #cccccc;
    z-index: 1;
    display: inline-block;

    .header-left-content {
        width: 33.33%;
        float: left;

        @include mq("tablet", max) {
            font-size: 14px;
            width: 50%;
        }

        .left-header-logo {
            display: none;
            height: 42px;

            @include mq("tablet", max) {
                display: block;
            }
        }
    }

    .header-center-content {
        width: 33.33%;
        float: left;
        text-align: center;
        .header-logo {
            height: 56px;
        }

        @include mq("tablet", max) {
            display: none;
        }
    }

    .header-right-content {
        width: 33.33%;
        float: left;

        @include mq("tablet", max) {
            width: 50%;
        }

        .header-actions {
            text-align: right;
            button {
                width: 32px;
                height: 32px;
                background: transparent;
                border: none;
                margin-left: 12px;
                outline: none;

                img {
                    width: 32px;
                    height: 32px;
                }

                &.header-menu-btn {
                    display: none;

                    @include mq("tablet", max) {
                        display: unset;
                    }
                }
            }
        }
    }
}
