@import "src/assets/scss/variables.scss";

.main-page {
    background: #1E1E1E;
    .mn-container {
        position: relative;
        display: flex;
        width: 100%;
        .mn-left-content {
            width: 215px;
            float: left;

            @include mq("tablet-wide", max) {
                display: none;
            }

            .mn-section-header {
                position: fixed;
                width: 200px;
                top: 80px;
                left: 10px;
                background: skyblue;
                .mn-section-decs {
                    display: none;
                    &.active {
                        display: unset;
                        .mn-left-title {
                            color: red;
                        }
                    }
                }
            }
        }

        .mn-center-content {
            width: calc(100% - 430px);
            max-width: 960px;
            margin: auto;
            @include mq("tablet-wide", max) {
                width: calc(100% - 210px);
                margin: 0;
            }

            @include mq("tablet", max) {
                width: 100%;
            }

            .bottom-spacer {
                height: 50vh;
            }

            .top-spacer {
                height: 60px;
            }
        }

        .mn-right-content {
            position: relative;
            width: 215px;
            float: right;

            @include mq("tablet-wide", max) {
                width: auto;
            }

            @include mq("tablet", max) {
                display: none;
            }

            .navigation-menu {
                position: fixed;
                width: 200px;
                top: 80px;
                right: 10px;
                background: skyblue;
                text-align: right;
                .navigation-menu-container {
                    .navigation-menu-item {
                        &.active {
                            button {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
