@import "src/assets/scss/variables.scss";

.page-container {
    padding: 16px;
}

.page-title {
    display: none;
    border-left: 4px solid #0387da;
    color: white;
    font-size: 20px;
    font-family: mFont;
    padding: 0 12px;
    line-height: 1.4;
    margin-bottom: 16px;

    @include mq("tablet-wide", max) {
        display: block;
    }
}

.splash {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 12;
    &.hide {
        display: none;
    }

    .splash-logo {
        display: none;
        position: absolute;
        margin: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.show {
            display: block;
            @extend.text-focus-in;
        }
    }
}

.main-page {
    background: #1e1e1e;
    .mn-container {
        position: relative;
        display: flex;
        width: 100%;
        .mn-left-content {
            width: 215px;
            float: left;

            @include mq("tablet-wide", max) {
                display: none;
            }

            .mn-section-header {
                position: fixed;
                width: 200px;
                top: 80px;
                left: 16px;
                .mn-section-decs {
                    display: none;
                    &.active {
                        display: block;
                        @extend .text-focus-in;
                    }

                    .mn-left-title {
                        border-left: 4px solid #0387da;
                        color: white;
                        font-size: 24px;
                        font-family: mFont;
                        padding: 0 12px;
                        line-height: 1.4;
                    }
                }
            }
        }

        .mn-center-content {
            width: calc(100% - 430px);
            max-width: 960px;
            margin: auto;
            @include mq("tablet-wide", max) {
                width: calc(100% - 210px);
                margin: 0;
            }

            @include mq("tablet", max) {
                width: 100%;
            }

            .bottom-spacer {
                height: 50vh;
            }

            .top-spacer {
                height: 72px;
            }
        }

        .mn-right-content {
            position: relative;
            width: 215px;
            float: right;

            &.show {
                display: block;
            }

            @include mq("tablet-wide", max) {
                width: auto;
            }

            @include mq("tablet", max) {
                display: none;
            }

            .navigation-menu {
                position: fixed;
                width: 200px;
                height: calc(100% - 160px);
                top: 80px;
                right: 16px;
                padding-top: 48px;
                text-align: right;
                border-right: 1px solid #444444;
                .navigation-menu-container {
                    .navigation-menu-item {
                        button {
                            position: relative;
                            background: transparent;
                            border: none;
                            color: #5c5c5c;
                            font-size: 16px;
                            font-family: rFont;
                            padding-right: 12px;
                            margin-bottom: 16px;
                            outline: none;

                            &::before {
                                position: absolute;
                                content: "";
                                right: -1px;
                                top: 13px;
                                width: 2px;
                                height: 2px;
                                border-radius: 8px;
                                background: #c4c4c4;
                            }
                        }

                        &.active {
                            button {
                                color: white;
                                &::before {
                                    background: white;
                                }

                                &::after {
                                    position: absolute;
                                    content: "";
                                    right: -5px;
                                    top: 9px;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 8px;
                                    border: 1px solid white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.jello-vertical {
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
}

.text-pop-up-top {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.blur-out-expand-fwd {
    -webkit-animation: blur-out-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: blur-out-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.2, 0.75, 1);
        transform: scale3d(1.2, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.2, 1);
        transform: scale3d(0.75, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.2, 0.75, 1);
        transform: scale3d(1.2, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.2, 1);
        transform: scale3d(0.75, 1.2, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc,
            0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc,
            0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/**
 * ----------------------------------------
 * animation blur-out-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes blur-out-expand-fwd {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
@keyframes blur-out-expand-fwd {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }
    100% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}
